<!DOCTYPE html>

<html>
    <head>
        <title>weather-app 404</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="src/app.js"></script>
    </head>

    <body>
        {{>header}}
        {{>links}}
        <p>{{title}}</p>
        <p>{{errorMessages}}</p>
        <p>{{>footer}}</p>
    </body>
</html>