<!DOCTYPE html>

<html>
    <head>
        <title>weather-app about-page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        
    <body>
        {{>header}}
        <p>{{>footer}}</p>
        <img src="img/captain-robot.png">
    </body>
</html>