<!DOCTYPE html>

<htiml>
    <head>
        <title>weather-app guide-page</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/src/app.js"></script>
    </head>
        
    <body>
        <h1>this is very helpful</h1>
        {{>footer}}
        {{>header}}
    </body>
</htiml>

